body{
  background-color: #fafafa!important;
}

.header{
  margin-top: 20px;
  margin-bottom: 20px;
}

#top{
  margin-bottom: 100px;
}

.insta-post{
  margin-top: 15px;
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

.account-summary{
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions{
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.imgConfirm{
  width: 25%
}
.comment-post{    
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

.blog-pic{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.blog-pic img{
  width: auto;
  height: 100%;
  margin-left: -50px;
}
